/passenger/migrations/
/airport/migrations/
/finance/migrations/
/user/migrations/
/db.sqlite3
/maintenance/migrations/
/attendant/migrations/
/pilot/migrations/
/security/migrations/
/core/settings.ini
/security/__pycache__/*
/core/settings/local.py
/core/settings.ini
