{% load static %}
<!-- Header Section Begin -->
    <header class="header-section">
        <div class="hs-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="{% url 'passenger:index' %}"><img src="{% static 'passenger/img/airkenya-logo.png' %}"
                                                                       alt="" style="height: 65px;"></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="ht-widget">
                            <ul>
                                <li><i class="icon_mail_alt"></i> passenger.support@gmail.com</li>
                                <li><i class="fa fa-mobile-phone"></i> 125-711-811 <span>125-668-886</span></li>
                            </ul>
                            <a href="#" class="hw-btn">Submit property</a>
                        </div>
                    </div>
                </div>
                <div class="canvas-open">
                    <span class="icon_menu"></span>
                </div>
            </div>
        </div>
        <div class="hs-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <nav class="nav-menu">
                            <ul>
                                <li class="active"><a href="{% url 'passenger:index' %}">Home</a></li>
                                <li><a href="#">Properties</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'passenger:property' %}">Property Grid</a></li>
                                        <li><a href="{% url 'passenger:profile' %}">Property List</a></li>
                                        <li><a href="{% url 'passenger:property-details' %}">Property Detail</a></li>
                                        <li><a href="{% url 'passenger:property-comparison' %}">Property Comperison</a></li>
                                        <li><a href="{% url 'passenger:property-submit' %}">Property Submit</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'passenger:agents' %}">Agents</a></li>
                                <li><a href="{% url 'passenger:about' %}">About</a></li>
                                <li><a href="{% url 'passenger:blog' %}">Blog</a></li>
                                <li><a href="{% url 'passenger:contact' %}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="hn-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->