    {% load static %}
    <!-- Js Plugins -->
    <script src="{% static 'passenger/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'passenger/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'passenger/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'passenger/js/mixitup.min.js' %}"></script>
    <script src="{% static 'passenger/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'passenger/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'passenger/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'passenger/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'passenger/js/jquery.richtext.min.js' %}"></script>
    <script src="{% static 'passenger/js/image-uploader.min.js' %}"></script>
    <script src="{% static 'passenger/js/main.js' %}"></script>