{% extends 'finance/accounts/layouts/base.html' %}
{% load static %}
{% block title %} Forgot Password {% endblock %}
{% block content %}
    <div class="auth_left">
        <div class="card">
            <div class="text-center mb-5">
                <a class="header-brand" href="index-2.html"><i class="fa fa-soccer-ball-o brand-logo"></i></a>
            </div>
            <div class="card-body">
                <div class="card-title">Forgot password</div>
                <p class="text-muted">Enter your email address and your password will be reset and emailed to you.</p>
                <div class="form-group">
                    <label class="form-label" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Send me new password</button>
                </div>
            </div>
            <div class="text-center text-muted">
                Forget it, <a href="login.html">Send me Back</a> to the Sign in screen.
            </div>
        </div>        
    </div>
{% endblock %}