    {% load static %}
    <div id="left-sidebar" class="sidebar ">
        <h5 class="brand-name">Soccer <a href="javascript:void(0)" class="menu_option float-right"><i class="icon-grid font-16" data-toggle="tooltip" data-placement="left" title="Grid & List Toggle"></i></a></h5>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul class="metismenu">
                <li class="g_heading">Project</li>
                <li class="active"><a href="{% url 'finance:index' %}"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                <li><a href="{% url 'finance:table' %}"><i class="fa fa-list-ol"></i><span>table</span></a></li>
                <li><a href="{% url 'finance:contact' %}"><i class="fa fa-calendar-check-o"></i><span>contact</span></a></li>
                <li><a href="{% url 'finance:form' %}"><i class="fa fa-list-ul"></i><span>form</span></a></li>
                <li><a href="{% url 'finance:sign_up' %}"><i class="fa fa-lock"></i><span>sign_up</span></a></li>
                <li><a href="{% url 'finance:login' %}"><i class="fa fa-unlock"></i><span>login</span></a></li>
            </ul>
        </nav>
    </div>