<!doctype html>
<html class="no-js " lang="en">

{% load static %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="{% block description %} {% endblock %}">
<title>:: {% block title %}{% endblock %} :: Home</title>
{% include 'finance/include/styles.html' %}
</head>

<body class="theme-blush">
{% include 'finance/include/preloader.html' %}

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
{% include 'finance/include/left-sidebar.html' %}

<!-- Main Content -->
{% block content %}{% endblock %}
{% include 'finance/include/scripts.html' %}
</body>

</html>