<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'staff/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'staff/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">

</head>

<body class="bg-gradient-primary">

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'staff/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'staff/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'staff/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'staff/js/sb-admin-2.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% for message in messages %}
		<script>
			let message = "{{message}}"
			let message_tag = "{{message.tags}}"
			console.log(message)
			if (message_tag === "success" ){
			  iziToast.success({
				title: "Success",
				message: message,
				position: 'topRight'
			  });
			 }
			if (message_tag === "info" ){
			  iziToast.info({
				title: "Info",
				message: message,
				position: 'topRight'
			  });
			 }
		</script>
    {% endfor %}

</body>

</html>