		<!-- ================= footer start ========================= -->
		<footer class="footer dark-bg">
			<div class="container">

				<!-- Row Start -->
				<div class="row">

					<div class="col-md-8 col-sm-8">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<h4>Other Accounts</h4>
								<ul>
									<li><a href="#">Pilot</a></li>
									<li><a href="#">Security</a></li>
									<li><a href="#">Attendant</a></li>
									<li><a href="#">Finance</a></li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">
								<h4>Other Features</h4>
								<ul>
									<li><a href="#">Dashboard</a></li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">
								<h4>Help</h4>
								<ul>
									<li><a href="{% url 'passenger:faq' %}">FAQs</a></li>
									<li><a href="{% url 'passenger:about_us' %}">About Us</a></li>
									<li><a href="{% url 'passenger:contact' %}">Contact</a></li>
									{% if request.user.is_authenticated and request.user.is_passenger %}
										<li><a href="{% url 'passenger:feedback' %}">Feedback</a></li>
									{% endif %}

								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<h4>Subscribe Now</h4>
						<!-- Newsletter -->
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter Email">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="fa fa-location-arrow font-20"></i></button>
							</span>
						</div>

						<!-- Social Box -->
						<div class="f-social-box">
							<ul>
								<li><a href="#"><i class="fa fa-facebook facebook-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-google google-plus-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter twitter-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest pinterest-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram instagram-cl"></i></a></li>
							</ul>
						</div>

<!--						&lt;!&ndash; App Links &ndash;&gt;-->
<!--						<div class="f-app-box">-->
<!--							<ul>-->
<!--								<li><a href="#"><i class="fa fa-apple"></i>App Store</a></li>-->
<!--								<li><a href="#"><i class="fa fa-android"></i>Play Store</a></li>-->
<!--							</ul>-->
<!--						</div>-->

					</div>

				</div>

				<!-- Row Start -->
				<div class="row">
					<div class="col-md-12">
						<div class="copyright text-center">
							<p><a target="_blank" href="#">Sof-smart dev</a></p>
						</div>
					</div>
				</div>

			</div>
		</footer>