{% load static %}
<!-- ======================= Start Navigation ===================== -->
		<nav class="navbar navbar-default navbar-mobile navbar-fixed light bootsnav">
			<div class="container">

				<!-- Start Logo Header Navigation -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="index-2.html">
						<img src="{% static 'passenger/assets/img/logo.png' %}" class="logo logo-display" alt="">
						<img src="{% static 'passenger/assets/img/logo.png' %}" class="logo logo-scrolled" alt="">
					</a>

				</div>
				<!-- End Logo Header Navigation -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-menu">

					<ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">

						<li class="dropdown">
							<a href="{% url 'passenger:index' %}">Home</a>
						</li>
						<li>
							<a href="{% url 'passenger:booking' %}">Booking</a>
						</li>
						<li>
							<a href="{% url 'passenger:receipts' %}">receipts</a>
						</li>
						<li>
							<a href="{% url 'passenger:profile' %}">profile</a>
						</li>

					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="br-right"><a href="javascript:void(0)"  data-toggle="modal" data-target="#signin"><i class="login-icon ti-user"></i>Login</a></li>
						<li class="sign-up"><a class="btn-signup red-btn" href="tour-grid-sidebar.html"><span class="ti-briefcase"></span>Booking Toor</a></li>
					</ul>

				</div>
				<!-- /.navbar-collapse -->
			</div>
		</nav>
		<!-- ======================= End Navigation ===================== -->