<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'flight_staff:index' %}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">{{request.user.flightstaff.get_user_type_display}} <sup>admin</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'flight_staff:index' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            {{request.user.flightstaff.get_user_type_display}}
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Bookings"
                aria-expanded="true" aria-controls="Bookings">
                <i class="fas fa-fw fa-cog"></i>
                <span>Bookings</span>
            </a>
            <div id="Bookings" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Bookings:</h6>
                    <a class="collapse-item" href="{% url 'flight_staff:bookings' %}">Bookings</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Flights"
                aria-expanded="true" aria-controls="Flights">
                <i class="fas fa-fw fa-cog"></i>
                <span>Flights</span>
            </a>
            <div id="Flights" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Flights:</h6>
                    <a class="collapse-item" href="{% url 'flight_staff:flights' %}">Flights</a>
                </div>
            </div>
        </li>
        {% if request.user.flightstaff.user_type == "pilot" %}
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Attendants</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Attendants:</h6>
                        <a class="collapse-item" href="{% url 'flight_staff:attendants' %}">attendants</a>
                    </div>
                </div>
            </li>
        {% endif %}
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

<!--        &lt;!&ndash; Sidebar Message &ndash;&gt;-->
<!--        <div class="sidebar-card d-none d-lg-flex">-->
<!--            <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">-->
<!--            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>-->
<!--            <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>-->
<!--        </div>-->

    </ul>
    <!-- End of Sidebar -->