{% extends 'passenger/layouts/base.html' %}
{% load static %}
{% block title %} Tickets {% endblock %}
{% block content %}

		<!-- ======================= Start Page Title ===================== -->
		<div class="page-title image-title" style="background-image:url({% static 'passenger/assets/img/banner.jpg' %});">
			<div class="container">
				<div class="page-title-wrap">
				<h2>Booked Tickets</h2>
				<p><a href="{% url 'passenger:index' %}" class="theme-cl">Home</a> | <span>Booked Tickets</span></p>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->

		<!-- =========== Hire Guider =================== -->
		<section class="gray-bg">
			<div class="container">

				<!-- Start all guider -->
				<div class="row">
						<!-- Single Guide -->
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="guide-container">
								<div class="guide-container-box">
									<div class="fguide-thumb">
										<img src="{{object.passenger.passengerprofile.image.url}}" class="img-responsive" alt="">
										<p class="padd-15 text-center">From {{object.flight.route.source}}, to {{object.flight.route.destination}}</p>
									</div>
									<div class="fguide-detail">
										<h4>{{object.passenger.get_full_name}}</h4>
										<ul class="extra-service">
											<li>
												<div class="icon-box-icon-block">
													<a href="#">
														<div class="icon-box-round">
															<i class="ti-agenda"></i>
														</div>
														<div class="icon-box-text">
															<strong>Ticket No</strong>
															{{object.code}}
														</div>
													</a>
												</div>
											</li>

											<li>
												<div class="icon-box-icon-block">
													<a href="#">
														<div class="icon-box-round">
															<i class="ti-wallet"></i>
														</div>
														<div class="icon-box-text">
															<strong>Cost</strong>
															{{object.flight.price}}
														</div>
													</a>
												</div>
											</li>

											<li>
												<div class="icon-box-icon-block">
													<a href="#">
														<div class="icon-box-round">
															<i class="ti-calendar"></i>
														</div>
														<div class="icon-box-text">
															<strong>Flight Date: </strong>
															{{object.flight.departure}}
														</div>
													</a>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="guide-container-links">
									<a href="{% url 'passenger:download_ticket' object.slug %}" class="btn btn-default"><i class="ti-export mrg-r-5"></i>Download</a>
								</div>
							</div>
						</div>
	<!--					end ticket -->
				</div>
				<!-- Start all guider -->


			</div>
		</section>
		<!-- =========== End Hire Guider =================== -->
{% endblock %}