{% extends 'passenger/layouts/base.html' %}
{% load static %}
{% block title %} Flights {% endblock %}
{% block content %}
		
		<!-- ======================= Start Page Title ===================== -->
		<div class="page-title image-title" style="background-image:url({% static 'passenger/assets/img/destination.jpg' %});">
			<div class="container">
				<div class="page-title-wrap">
				<h2>Flights</h2>
				<p><a href="#" class="theme-cl">Home</a> | <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span></p>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->
		
		<!-- =========== Start All Destination In Grid View =================== -->
		<section class="gray-bg">
			<div class="container">
					
<!--				&lt;!&ndash; Row &ndash;&gt;-->
<!--				<div class="row mrg-0">-->
<!--					<div class="tr-single-box short-box">-->
<!--						<div class="col-sm-3 hidden-xs align-self-center">-->
<!--							<h4>Shorty By</h4>-->
<!--						</div>-->
<!--						-->
<!--						<div class="col-sm-9 text-right">-->
<!--						-->
<!--							<div class="btn-group mr-lg-2">-->
<!--								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--									Short By-->
<!--								</button>-->
<!--								<div class="dropdown-menu pull-right animated flipInX">-->
<!--									<a href="#">Accending</a>-->
<!--									<a href="#">Decending</a>-->
<!--									<a href="#">By Date</a>-->
<!--								</div>-->
<!--							</div>-->
<!--							-->
<!--							<div class="btn-group">-->
<!--								 <a href="#" class="btn btn-default tooltips">-->
<!--									 <i class="ti-flix ti-layout-grid2"></i>-->
<!--								 </a>-->
<!--							</div>-->

<!--							<div class="btn-group">-->
<!--								 <a href="#" class="btn btn-default tooltips">-->
<!--									 <i class="ti-flix ti-view-list-alt"></i>-->
<!--								 </a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				&lt;!&ndash; /Row &ndash;&gt;-->
<!--						-->
				<div class="row">
					{% for object in object_list %}
						<!-- Single Destination -->
						<div class="col-md-4 col-sm-6">
							<article class="destination-box style-1">

								<div class="destination-box-image">
									<figure>
										<a href="destination-detail.html">
											<img src="{% static 'passenger/assets/img/destination/des-8.jpg' %}" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
<!--										<div class="discount-flick">-12%</div>-->
										<h4 class="destination-place">
											<a href="#">from {{object.route.source}} to, {{object.route.destination}}</a>
										</h4>
<!--										<a href="#" class="list-like left"><i class="ti-heart"></i></a>-->
									</figure>
								</div>

								<div class="entry-meta">
<!--									<div class="meta-item meta-rating">-->
<!--										<i class="fa fa-star"></i>-->
<!--										<i class="fa fa-star"></i>-->
<!--										<i class="fa fa-star"></i>-->
<!--										<i class="fa fa-star"></i>-->
<!--										<i class="fa fa-star-half"></i>-->
<!--									</div>-->
									<div class="meta-item meta-comment fl-right">
										<span class="real-price padd-l-10 font-bold">{{object.price}}</span>
									</div>
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-location">
											<a class="btn btn-primary red-btn" href="#">Book Flight</a>
										</h4>
										<div class="price-box">
											<div class="destination-price fl-right">
												<a href="#"><i class="theme-cl ti-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

							</article>
						</div>
					{% endfor %}
				</div>
				{% if is_paginated %}
					<div class="row">
						<ul class="pagination">
							{% if page_obj.has_previous %}
								<li class="page-item"><a class="page-link" href="?page=1">1</a></li>
								<li class="page-item">
								  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
									<span class="ti-arrow-left"></span>
									<span class="sr-only">Previous</span>
								  </a>
								</li>
							{% endif %}
							<li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
							{% if page_obj.has_next %}
								<li class="page-item">
								  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
									<span class="ti-arrow-right"></span>
									<span class="sr-only">Next</span>
								  </a>
								</li>
								<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
							{% endif %}
						</ul>
					</div>
				{% endif %}
					
			</div>
		</section>
		<!-- =========== End All Destination In Grid View =================== -->
		{% endblock %}