{% extends 'passenger/layouts/base.html' %}
{% load static %}
{% block title %}index{% endblock %}
{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container">
            <div class="hs-slider owl-carousel">

                <div class="hs-item set-bg" data-setbg="{% static 'passenger/img/hero/hero-1.jpg' %}">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hc-inner-text">
                                <div class="hc-text">
                                    <h4>Balaji Symphony</h4>
                                    <p><span class="icon_pin_alt"></span> Panvel, Navi Mumbai</p>
                                    <div class="label">For Rent</div>
                                    <h5>$ 65.0<span>/month</span></h5>
                                </div>
                                <div class="hc-widget">
                                    <ul>
                                        <li><i class="fa fa-object-group"></i> 2, 283</li>
                                        <li><i class="fa fa-bathtub"></i> 03</li>
                                        <li><i class="fa fa-bed"></i> 05</li>
                                        <li><i class="fa fa-automobile"></i> 01</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Search Section Begin -->
    <section class="search-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section-title">
                        <h4>Where would you like to travel to?</h4>
                    </div>
                </div>
<!--                <div class="col-lg-5">-->
<!--                    <div class="change-btn">-->
<!--                        <div class="cb-item">-->
<!--                            <label for="cb-rent" class="active">-->
<!--                                For Rent-->
<!--                                <input type="radio" id="cb-rent">-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="cb-item">-->
<!--                            <label for="cb-sale">-->
<!--                                For Sale-->
<!--                                <input type="radio" id="cb-sale">-->
<!--                            </label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="search-form-content">
                <form action="#" class="filter-form" method="get">
                    <select class="sm-width" name="from">
                        <option value="" selected disabled>From</option>
                        {% for object in from_place %}
                            <option value="{{object.id}}">{{object.name}}</option>
                        {% endfor %}
                    </select>
                    <select class="sm-width" name="to">
                        <option value="" selected disabled>to</option>
                        {% for object in to_place %}
                            <option value="{{object.id}}">{{object.name}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="search-btn sm-width">Search</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Search Section End -->

    <!-- Chooseus Section Begin -->
    <section class="chooseus-section spad set-bg" data-setbg="{% static 'passenger/img/chooseus/chooseus-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="chooseus-text">
                        <div class="section-title">
                            <h4>Why choose us</h4>
                        </div>
                        <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="chooseus-features">
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{% static 'passenger/img/chooseus/chooseus-icon-1.png' %}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>Fast travels</h5>
                                <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{% static 'passenger/img/chooseus/chooseus-icon-3.png' %}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>Experienced pilots</h5>
                                <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Chooseus Section End -->

{% endblock %}