{% extends 'passenger/layouts/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<!-- ======================= Start Banner ===================== -->
		<div class="main-banner" style="background-image:url({% static 'passenger/assets/img/banner-1.jpg' %});">
			<div class="container">
				<div class="col-md-12">

					<div class="caption text-center cl-white">
						<h2>Discover Your Next Adventure</h2>
						<p>Explore top-rated flights around the kenya</p>
					</div>

					<form>
						<fieldset class="home-form-1">
							<div class="col-md-5 col-sm-5 padd-0">
								<div class="sl-box">
									<select class="wide form-control br-1">
										<option data-display="Departure city">Departure city</option>
										<option value="1">01</option>
										<option value="2">02</option>
										<option value="3">03</option>
										<option value="4">04</option>
									</select>
								</div>
							</div>

							<div class="col-md-5 col-sm-5 padd-0">
								<div class="sl-box">
									<select class="wide form-control br-1">
										<option data-display="Destination city">Destination city</option>
										<option value="1">01</option>
										<option value="2">02</option>
										<option value="3">03</option>
										<option value="4">04</option>
									</select>
								</div>
							</div>


							<div class="col-md-2 col-sm-2 padd-0">
								<button type="submit" class="btn theme-btn cl-white seub-btn">FIND FLIGHT</button>
							</div>

						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<!-- ======================= End Banner ===================== -->
		<div class="clearfix"></div>

		<!-- ====================== How It Work ================= -->
		<section class="how-it-works">
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<span class="theme-cl">Working Process</span>
							<h1>How It Works?</h1>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-4 col-sm-4">
						<div class="work-process">
							<div class="process-img">
								<img src="{% static 'passenger/assets/img/tour-1.png' %}" class="img-responsive" alt="" />
								<span class="process-num">01</span>
							</div>
							<h4>Choose a Destination & Guide</h4>
							<p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="work-process">
							<div class="process-img">
								<img src="{% static 'passenger/assets/img/tour-2.png' %}" class="img-responsive" alt="" />
								<span class="process-num">02</span>
							</div>
							<h4>Choose your guide & Customize</h4>
							<p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="work-process">
							<div class="process-img">
								<img src="{% static 'passenger/assets/img/tour-3.png' %}" class="img-responsive" alt="" />
								<span class="process-num">03</span>
							</div>
							<h4>Book Your Guide Online</h4>
							<p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- ====================== How It Work ================= -->
		<div class="clearfix"></div>


		<!-- ====================== Popular Tour ================= -->
		<section class="gray-dot gray-bg">
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<span class="theme-cl">Select Flight</span>
							<h1>Popular Flights</h1>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="list-slider">

						<!-- Single Tour -->
						<div class="list-slide-box">
							<article class="tour-box style-1">

								<!-- Single Tour -->
								<div class="tour-box-image">
									<figure>
										<a href="tour-detail.html">
											<img src="{% static 'passenger/assets/img/tour/tour-1.jpg' %}" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
										<div class="entry-bookmark">
											<a href="#"><i class="ti-bookmark"></i></a>
										</div>
										<div class="tour-time">
											<i class="ti ti-car"></i><span>25h</span>
										</div>
										<h4 class="tour-place">
											<a href="tour-detail.html">from mombasa to, Nairobi</a>
										</h4>
										<span class="featured-tour"><i class="fa fa-star"></i></span>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
									</figure>
								</div>

								<div class="entry-meta">
									<div class="meta-item meta-author">
										<div class="coauthors">
											<span class="vcard author">
												<span class="fn">
													<a href="#"><img alt="" src="{% static 'passenger/assets/img/user-1.jpg' %}" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
												</span>
											</span>
										</div>
									</div>
<!--									<div class="meta-item meta-comment fl-right">-->
<!--										<i class="ti-comment-alt"></i><span>25</span>-->
<!--									</div>-->
<!--									<div class="meta-item meta-rating fl-right">-->
<!--										<i class="fa fa-star"></i>-->
<!--										<i class="fa fa-star"></i>-->
<!--										<i class="fa fa-star"></i>-->
<!--										<i class="fa fa-star"></i>-->
<!--										<i class="fa fa-star-half"></i>-->
<!--									</div>-->
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-title">
											<a href="tour-detail.html">Mombasa</a>
										</h4>
										<div class="price-box">
											<div class="tour-price fl-right">
												<i class="ti ti-user"></i><span class="theme-cl f-bold">$187</span>
											</div>
										</div>
									</div>
								</div>

							</article>
						</div>

					</div>
				</div>

			</div>
		</section>
		<!-- ====================== Popular flights ================= -->
		<div class="clearfix"></div>
{% endblock %}