{% extends 'passenger/layouts/base.html' %}
{% load static %}
{% block title %} Payment {% endblock %}
{% block content %}
		<!-- ======================= Start Payment Method ===================== -->
		<section class="dashboard gray-bg padd-0 mrg-top-50">
			<div class="container-fluid">
				<div class="row">
					
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row mrg-0 mrg-top-20">
							<div class="tr-single-box">
								<div class="tr-single-header">
									<h3 class="dashboard-title">Add Payment Methode</h3>
								</div>
								<div class="tr-single-body">
									<div class="row">
									
										<!-- Single Payment Integration -->
										<div class="col-md-4 col-sm-6">
											<div class="pay-integration">
												<div class="pay-inte-thumb">
													<img src="{% static 'passenger/assets/img/payment/g-pay.jpg' %}" class="img-responsive" alt="" />
												</div>
												<h5>Google Pay</h5>
												<p>New & Standard Online Payment</p>
												<button type="button" class="btn bg-success-light full-width">Connected</button>
											</div>
										</div>
										
										<!-- Single Payment Integration -->
										<div class="col-md-4 col-sm-6">
											<div class="pay-integration">
												<div class="pay-inte-thumb">
													<img src="{% static 'passenger/assets/img/payment/E-payment.png' %}" class="img-responsive" alt="" />
												</div>
												<h5>E-Payment</h5>
												<p>Best Pay Online Pay System</p>
												<button type="button" class="btn bg-primary-light full-width">Connect</button>
											</div>
										</div>
										
										<!-- Single Payment Integration -->
										<div class="col-md-4 col-sm-6">
											<div class="pay-integration">
												<div class="pay-inte-thumb">
													<img src="{% static 'passenger/assets/img/payment/visa.png' %}" class="img-responsive" alt="" />
												</div>
												<h5>Credit/Debit</h5>
												<p>Safer and easier way to pay</p>
												<button type="button" class="btn bg-success-light full-width">Connected</button>
											</div>
										</div>
										
										<!-- Single Payment Integration -->
										<div class="col-md-4 col-sm-6">
											<div class="pay-integration">
												<div class="pay-inte-thumb">
													<img src="{% static 'passenger/assets/img/payment/images.png' %}" class="img-responsive" alt="" />
												</div>
												<h5>JCB Pay</h5>
												<p>New & Standard Online Payment</p>
												<button type="button" class="btn bg-success-light full-width">Connected</button>
											</div>
										</div>
										
										<!-- Single Payment Integration -->
										<div class="col-md-4 col-sm-6">
											<div class="pay-integration">
												<div class="pay-inte-thumb">
													<img src="{% static 'passenger/assets/img/payment/amazon-pay.jpg' %}" class="img-responsive" alt="" />
												</div>
												<h5>Amazon Pay</h5>
												<p>Best Pay Online Pay System</p>
												<button type="button" class="btn bg-primary-light full-width">Connect</button>
											</div>
										</div>
										
										<!-- Single Payment Integration -->
										<div class="col-md-4 col-sm-6">
											<div class="pay-integration">
												<div class="pay-inte-thumb">
													<img src="{% static 'passenger/assets/img/payment/blue.png' %}" class="img-responsive" alt="" />
												</div>
												<h5>Stripe Pay</h5>
												<p>Safer and easier way to pay</p>
												<button type="button" class="btn bg-success-light full-width">Connected</button>
											</div>
										</div>
										
									</div>	
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- ======================= End  Payment Methode===================== -->
		{% endblock %}