{% extends 'passenger/layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Profile {% endblock %}
{% block content %}

		<!-- ======================= Start Checkout ===================== -->
		<section class="dashboard gray-bg padd-0 mrg-top-50">
			<div class="container">
				<div class="row">
					
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row mrg-0 mrg-top-20">
							<div class="tr-single-box">
								<div class="tr-single-header">
									<h3 class="dashboard-title">My Profile</h3>
								</div>
								<div class="tr-single-body">
									<div class="row">
										<form method="post" action="." enctype="multipart/form-data">
											{% csrf_token %}
											<!-- col-md-4 -->
											<div class="col-md-6">
												<p>
													<label>First Name</label>
													{% render_field form.first_name class+="form-control" %}
													<div class="text-danger">{{form.errors.first_name}}</div>
												</p>

												<p>
													<label>Last Name</label>
													{% render_field form.last_name class+="form-control" %}
													<div class="text-danger">{{form.errors.last_name}}</div>
												</p>

												<p>
													<label>Email</label>
													{% render_field form.email class+="form-control" %}
													<div class="text-danger">{{form.errors.email}}</div>
												</p>
											</div>
											<!-- /col-md-4 -->

											<!-- col-md-4 -->
											<div class="col-md-6">
												<p>
													<label>Phone</label>
													{% render_field p_form.phone_number class+="form-control" %}
													<div class="text-danger">{{p_form.errors.phone_number}}</div>
												</p>
												<p>
													<label>Country</label>
													{% render_field p_form.country class+="form-control" %}
													<div class="text-danger">{{p_form.errors.country}}</div>
												</p><br/>

												<p>
													<label>Image</label>
													{% render_field p_form.image class+="form-control" %}
													<div class="text-danger">{{p_form.errors.image}}</div>
												</p>

												<p>
													<label>Gender</label>
													{% render_field p_form.gender class+="form-control" %}
													<div class="text-danger">{{p_form.errors.gender}}</div>
												</p>
											</div>
											<div class="col-md-12"><button class="btn btn-primary">Update Profile</button> </div>
										</form>
										<!-- /col-md-4 -->
<!--										-->
<!--										&lt;!&ndash; col-md-4 &ndash;&gt;-->
<!--										<div class="col-md-4">-->
<!--											<div id="profile-div" class="feature-media-upload">-->
<!--												-->
<!--												<img id="profile-image" class="img-responsive" src="{% static 'passenger/assets/img/user-3.jpg' %}" alt="user image">-->
<!--												<div id="upload-container">                 -->
<!--													<div id="aaiu-upload-container" style="position: relative;">                 -->

<!--														<button type="file" id="aaiu-uploader" class="btn theme-btn full-width">Upload Image</button>-->
<!--													</div>-->
<!--													<span class="upload_explain">* recommended size: minimum 550px </span>-->
<!--											   -->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--										&lt;!&ndash; /col-md-4 &ndash;&gt;-->
										
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- ======================= End Checkout ===================== -->
		{% endblock %}